/*

@font-face {
  font-family: BeVietnam-Medium;
  src: url('../assets/fonts/Be_Vietnam/BeVietnam-Medium.ttf') format('truetype');
}

@font-face {
  font-family: BeVietnam-Bold;
  src: url('../assets/fonts/Be_Vietnam/BeVietnam-Bold.ttf') format('truetype');
}

@font-face {
  font-family: BeVietnam-Semibold;
  src: url('../assets/fonts/Be_Vietnam/BeVietnam-Semibold.ttf') format('truetype');
}
*/
